PyMySQL==0.9.3
Django==3.0.4
还有redis
django-redis
因为我项目中用到redis做后端缓存

这里有一处源码要改    因为后台管理员登录后注销时，django默认是往它自己的登录界面跳，这儿要改为我们的登陆界面
site-packages\django\contrib\admin\templates\admin\base.html 的51行，把admin改为user


